<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- OpenGraph data
================================================== -->
<meta property="og:site_name" content="{{ site.title | xml_escape }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />

<!-- title, description, and image may change per-page, per-post -->
{% if page.title %}
  <title>{{ page.title }} &bull; ICA</title>
  <meta property="og:title" content="{{ page.title | xml_escape }}" />
{% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title | xml_escape }}" />
{% endif %}

<!-- Favicons
================================================== -->

<link rel="shortcut icon" type="image/png" href="/assets/brand/favicon.png" />
<link rel="apple-touch-icon-precomposed" href="/assets/brand/ica-teal-512.png">

<!-- CSS
================================================== -->

<link href="/assets/css/normalize.css" rel="stylesheet">
<link href="/assets/css/styles.css" rel="stylesheet">
